<% frame ||= nil %>
<% has_prev = has_prev.nil? ? false : has_prev %>

<div class="col-md-6 col-md-offset-3 frame">
  <%= render partial: "frames/frame_view", locals: { frame: frame, has_prev: has_prev } %>
</div>
