<% frames ||= [] %>
<% has_prev = has_prev.nil? ? false : has_prev %>
<% siblings = siblings.nil? ? false : siblings %>

<div class="col-md-12 row double_frame <%= siblings ? "siblings" : "cousins" %>">
<% frames.each_with_index do |frame, index| %>
  <%# We assume that there is only 2 frames %>
  <% position = (index == 0) ? "left_frame" : "right_frame" %>
  <% no_children = frame.id && frame.has_children? ? "" : "no_children" %>
  <% several_children = frame.id && frame.children.count > 1 ? "several_children" : "" %>

  <%= render partial: "frames/frame_view", locals: { frame: frame, has_prev: has_prev, position: position } %>
<% end %>
</div>

