<% frame ||= Frame.new(name: "--NO FRAME--") %>


<div class="">
<%#= frame.name %>
  <%= image_tag frame.picture.url, size: "150x100" %>

  <!-- bouton suivant -->
  <% if frame.id && frame.has_children? %>
    <%= link_to "next", "#", class: "btn btn-default next", "data-next" => frame.id %>
  <% else %>
    <%= link_to "finished!", "#", class: "btn btn-info"%>
  <% end %>

</div>
