<% frame ||= nil %>
<% has_prev = has_prev.nil? ? false : has_prev %>

<div class="col-md-12 row">
  <%= render partial: "frames/frame_view", locals: { frame: frame, has_prev: has_prev, position: "central" } %>
</div>
