<% frames ||= [] %>

<li class="">
  <ul class="list-inline">
    <% frames.each do |frame| %>
    <li>
      <%= render partial: "frames/frame", locals: { frame: frame} %>
    </li>
    <% end %>
  </ul>
</li>
